main {
  margin: 2rem;
}

.box {
  display: block;
  height: 20px;
  background-color: aquamarine;
}

.message-error {
  padding: 1rem;
  color: red;
  opacity: 0;
  transition: all 0.5s ease;
}

.message-error.show {
  opacity: 1;
}
