<main>
  <h1>Hola! Este es mi primer proyecto</h1>
  <!-- String interpolation: -->
  <!-- usando los dos handlebars {{}} se puede acceder a las propiedades de la clase -->
  <h2>{{ welcome }}</h2>
  <ul>
    <li *ngFor="let task of tasksOne">{{ task }}</li>
  </ul>
  <hr />

  <!-- Usando los string interpolation se pueden usar ciertas cosas nativas de javascript, como funciones -->
  <h2>{{ "Hola ".repeat(4) }}</h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola, soy {{ name }} y mi edad es {{ age }}</p>
  <hr />

  <!-- Property binding: -->
  <!-- Se usa para enlazar propiedades de un elemento html con una propiedad (atributo) de la clase -->
  <img [src]="img" alt="A W3School image" />
  <input type="number" [value]="person.age" />
  <button [disabled]="age < 18 ? true : false">Click me</button>
  <p>Person: {{ person.name }}</p>
  <hr />

  <!-- Event binding: -->
  <!-- Permite controlar los eventos que suceden en estos elementos. Por ejemplo, el clic de un botón, detectar cambios en un campo. -->
  <button (click)="clickHandler()">Click me, again</button>
  <button (dblclick)="clickHandler()">Click me two times</button>
  <label for="change">Change</label>
  <!-- para capturar el evento se debe usar la sintaxis de signo de dolar y nombre del evento => $event -->
  <input id="change" type="number" [value]="person.age" (change)="changeHandler($event)" />

  <!-- Keyboard events -->
  <label for="keydown">Keydown</label>
  <input id="keydown" type="text" (keydown)="keydownHandler($event)" />
  <label for="keydown">Keydown shotcuts shift + t for a specific key</label>
  <input id="keydown" type="text" (keydown.shift.t)="clickHandler()" />
  <hr>

  <!-- Signals -->
  <h2>Signals</h2>
  <p>Mi país es {{ country() }}</p>
  <input type="text" [value]="country()" (change)="changeCountry($event)" />

  <!--  -->
  <h2>Directivas de control</h2>
  <ul>
    <p>Total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{ i }} {{ task }}
    </li>
  </ul>
</main>
